---
import "../styles/components/nav.scss";
---

<section class="sideNav">
  <div class="wrapper">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
</section>
